.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 30%;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
padding: 0;
margin-right: 5%;
margin-bottom: 1rem;
list-style: none;
}
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
}
.carousel-item p{
    width: 25%;
    margin-left: 25%;
    margin-top: 20px;
}
.about h1::before ,.service h1::before, .work h1::before,
.Creative h1::before ,.pricing h1::before{
    content: "";
    width: 80px ;
height: 2px;
background-color: blue;
position: absolute;
left: -100px;
top: 60%;
}
.about h1::after ,.service h1::after, .work h1::after ,
.Creative h1::after,.pricing h1::after ,.Blog h1::after,.client h1::after {
    content: "";
    width: 80px ;
height: 2px;
background-color: blue;
position: absolute;
right: -100px;
top: 60%;
}
.about span::before ,.service span::before ,.work span::before,
.Creative span::before ,.pricing h1 span::before  {
    content: "";
    width: 50px ;
height: 2px;
background-color: blue;
position: absolute;
left: -70px;
top: 40%;
}
.Blog h1::before{
    content: "";
    width: 80px ;
height: 2px;
background-color: blue;
position: absolute;
left: -100px;
top: 60%;
}
.about span::after ,.service span::after,.work span::after ,
.Creative span::after, .pricing h1 span::after ,.client  h1 span::after {
    content: "";
    width: 50px ;
height: 2px;
background-color: blue;
position: absolute;
right: -70px;
top: 40%;
}
.about .conte{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
}
.service{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/20240418_183752.jpg);
    background-size: 100% 100%;
}
#relativ{
    position: relative;
    top: 20px;
    left: 35px;
}
.parent:hover .child{
    left: 0;
    top: 0;
}
.child{
    top: 100%;
    transition:all 0.5s;
}
 .work{
    background-image: none;
    color: black;
}
#navbarNavDropdown .slach .cotent a::after{
content: "/";
position: relative;
}
#navbarNavDropdown .slach li a:hover{
    color: blue;
}
.parent2:hover .child2{
    transform: scalex(1);
}
.parent2 img:hover{
    box-shadow: 5px 5px 3px rgb(223, 213, 213)  ;
}
.child2{
    bottom: 3%;
    left: 7%;
    transition: all 0.5s;
    transform: scalex(0);
}
.child2 h3{
    right: 0;
    bottom: 15%;
    right: 5%;
}
.image {
    padding: 0 8%;
}
.photo img{
    width: 100%;
}
.child3{
    bottom: 0%;
    left: 7%;
}
.child3{
top: 75%;
}
.parent3:hover .child3{
    top: 35%;
    transition: all 0.5s;
}
.parent3:hover .child3 div p{
    border: 0 !important;
}
.owl-theme .owl-dots{
    display: none;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    margin-top: 50px;
    background-color: rgb(71, 30, 195);
    width: 25px;
    color: aliceblue;
    font-size: 25px;
    padding: auto;
}
.all :hover .right{
    background-color: blue !important;
}
.all:hover img{
    transform: scale(1.3 ,1.3) rotate(-4deg);
    transition: all 0.5s;
}
.all hr, .footer hr{
   height: 1px;
   opacity: 100%;
}
.all:hover hr{
    width: 100% !important;
}
.footer button:hover{
background-color: blue;
color: azure;
}
.contact2{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../image/ecommerce-cover-2.jpg);
    height: 350px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.contact2 nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.contact2 .nv{
    position: relative;
   top: 46%;
   padding: 20px;
}
.pricing div input,.pricing div textarea{
    border: 1px solid transparent;
        border-bottom: 1px solid #a68686;
        background-color: transparent;
}